#eredmeny td{
    width: 75px;
    height: 75px;
    border: 1px solid purple; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#eredmeny
{
     height: 100vh;
     display: grid;
     place-items: center;
}
 
  
#gombok
{
    border: 1px solid black;
    color: blueviolet;
   
}
body
{
    display: grid;
     place-items: center;
     background-color: black;
}
#gomb2
{
    background-color: blueviolet;
    border-radius: 0px 15px 0px 15px;
}
.modal-header
{
    background-color: black;
    color: white;

}
.modal-header
{
    background-color: black;
    color: blueviolet;

}
.modal-body
{
    background-color: black;
    color: blueviolet;
}
.btn-close
{
    background-color: blueviolet;
    color: blueviolet;
}
#gomb2  
{
    background-color: blueviolet;
    border-radius: 0px 15px 0px 15px;
    display: grid;
    
}
